h1{
    padding-top: 60px;
}



.receipt{
    padding: 5vh 0;
}
.receipt .img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15vh 0;
    text-align: center;
}
.receipt .img h2{
    color: #FFFFFF;
}
.receipt .row.data{
    margin: 10px 0;
    font-weight: bold;
}
.receipt .resume{
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 15px;
    color: #575656;
}
.receipt .ingredients{
    margin: 10px 0;
}
.receipt .ingredients .ingredient{
}
.receipt .steps{
    margin: 10px 0;
    text-align: justify;
}
.receipt .date{
    text-align: right;
    color: #363737;
    font-style: italic;
}

#ingredients ul li.main{
    padding-top: 60px;
}
#ingredients ul li.second{
    margin-left: 20px;
}
/*
                            <xsl:variable name="nomAuteur" select="@value"/>
                            <xsl:value-of select="//objet[@id = $nomAuteur]/info[@nom = 'nom']/@value"/>
 */